@font-face {
    font-family: "WV_HM";
    src: url("../font/ARBONNIE.ttf");
}

@font-face {
    font-family: "WV_HM2";
    src: url("../font/Remington-Noiseless.ttf");
}

#container1 {
    /* gradient op zich al goed, enkel nog die midpoint die het groen smaller maakt erin steken, ofwel een point toevoegen om zelfde effect te krijgen */
    background: linear-gradient(#000000, #686500 16.59%, #D3B42F 36.09%, #218206 50%, #D7A916 57.50%, #D7A916 79.86%, #666600 100%);
    height: 100vh;
}

#allcontent {
    background-color: transparent;
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
	height: 187.5vw;
	width: 53.33vh;
    margin: 0 auto;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

#corner1 {
    position: absolute;
    width: 8.33%;
    height: 0;
    padding-top: 12%;
    padding-left: 3.75%;
    overflow: hidden;
}

#corner1:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
    border-top: 500px solid transparent;
    border-right: 500px solid #dbaa16;
}

#corner2 {
    position: absolute;
    right: 0%;    
    width: 8.33%;
    height: 0;
    padding-top: 3.75%;
    padding-bottom: 8.25%;
    padding-right: 3.75%;
    overflow: hidden;
}

#corner2:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #dbaa16;
}

#corner3 {
    position: absolute;
    width: 5.83%;
    height: 0;
    top: 47%;
    padding-left: 12%;
    padding-top: 8.25%;
    overflow: hidden;
}

#corner3:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    margin-top:-500px; 
    border-left: 500px solid transparent;
    border-top: 500px solid #000000;
}

#corner4 {
    position: absolute;
    width: 5.83%;
    height: 0;
    top: 47%;
    right: -2%;
    padding-bottom: 12%;
    padding-left: 8.33%;
    overflow: hidden;
}

#corner4:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #000000;
}

#upper_content_outer {
    position: relative;
    top: 1.66%;
    left: 3.125%;
    width: 93.75%;
    height: 50%;
    clip-path: polygon(0% 13.33%, 13.33% 13.33%, 13.33% 0%, 86.66% 0%, 86.66% 13.33%, 100% 13.33%, 100% 86.66%, 86.66% 86.66%, 86.66% 100%, 13.33% 100%, 13.33% 86.66%, 0% 86.66%);
    -webkit-clip-path: polygon(0% 13.33%, 13.33% 13.33%, 13.33% 0%, 86.66% 0%, 86.66% 13.33%, 100% 13.33%, 100% 86.66%, 86.66% 86.66%, 86.66% 100%, 13.33% 100%, 13.33% 86.66%, 0% 86.66%);
    background: linear-gradient(#dbaa16, #000000 100%);
}

#upper_content_inner {
    position: relative;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    clip-path: polygon(0% 13.33%,13.33% 13.33%, 13.33% 0%, 86.66% 0%, 86.66% 13.33%, 100% 13.33%, 100% 86.66%, 86.66% 86.66%, 86.66% 100%, 13.33% 100%, 13.33% 86.66%, 0% 86.66%);
    -webkit-clip-path: polygon(0% 13.33%, 13.33% 13.33%, 13.33% 0%, 86.66% 0%, 86.66% 13.33%, 100% 13.33%, 100% 86.66%, 86.66% 86.66%, 86.66% 100%, 13.33% 100%, 13.33% 86.66%, 0% 86.66%);
    background: linear-gradient(#000000, #686500 33.19%, #D3B42F 72.18%, #218206);
}

#lower_content_outer {
    position: relative;
    z-index: 5;
    top: 5%;
    left: 3.125%;
    width: 93.75%;
}

#lower_content_inner {
    position: relative;
    z-index: 5;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 100%;
}

#title {
    position: absolute;
    width: 100%;
    height: 25%;
    background-image: url("../images/title_en.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 80%;
}

#tree_girl_message {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
}

.state0 {background-image: url("../images/state00.png");}
.state1 {background-image: url("../images/state01.png");}
.state2 {background-image: url("../images/state02.png");}
.state3 {background-image: url("../images/state03.png");}
.state4 {background-image: url("../images/state04.png");}
.state5 {background-image: url("../images/state05.png");}
.state6 {background-image: url("../images/state06.png");}
.state7 {background-image: url("../images/state07.png");}

.success_state0 {background-image: url("../images/state00_success.png");}
.success_state1 {background-image: url("../images/state01_success.png");}
.success_state2 {background-image: url("../images/state02_success.png");}
.success_state3 {background-image: url("../images/state03_success.png");}
.success_state4 {background-image: url("../images/state04_success.png");}
.success_state5 {background-image: url("../images/state05_success.png");}
.success_state6 {background-image: url("../images/state06_success.png");}

#searchWord {
    position: absolute;
    display: block;
    width: 100%;
    font-size: 5.0vh;
    font-family: "WV_HM2", Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 7% auto;
    color: #195904;
    text-transform: uppercase;
}

#alfabet {
    z-index: 8;
    height: 70%;
    margin-top: 11%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.used {
    pointer-events: none;
}

.success {
    background-color: #195904 !important;
}

.fail {
    background-color: #800000 !important;
}

.unfound {
    color: #800000 !important;
}

.highlight {
    background-color: #195904 !important;
}


.letter {
    z-index: 10;
    text-transform: uppercase;
    background-color: #666600;
    color: #dbaa16;
    font-family: "WV_HM", Arial, sans-serif;
    font-size: 6vh;
    text-align: center;
    box-sizing: content-box;
    border-top: 0px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    cursor: pointer;
    flex-basis: 13.2%;
    padding-top: 4px;
}

#a, #b, #c, #d, #d, #e, #f, #g {
    border-top: 3px solid black;
}

#a, #h, #o, #v {
    border-left: 3px solid black;
}

.selected {
    background-color: #dbaa16;
    color: #4c4a00;
}

#formbtn1 {
position: fixed;
    bottom: 0;
    margin-left: auto;
    z-index: 10;
}

#btn1 {
    z-index: 10;
    text-transform: uppercase;
    font-family: "WV_HM";
    font-size: 6vh;
    text-align: center;
    background-color: rgba(25, 89, 4, 0.5);
    color: #dbaa16;
    border-top: 3px solid black;
    border-bottom: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media (max-width: 380px) {
    .letter {
        font-size: 3.5vh;
    }
}

@media (max-width: 340px) {
    .letter {
        font-size: 3.0vh;
    }
}

@media (max-width: 290px) {
    .letter {
        font-size: 2.5vh;
    }
}
    




